torch
torchaudio
torchinfo==1.8.0
torchmetrics==1.2.0
speechbrain==0.5.16
audiomentations==0.33.0
torch-audiomentations==0.11.0
scipy
numpy
pyyaml
tqdm
datasets==2.21.0
huggingface_hub
mutagen==1.47.0
pronouncing==0.2.0
acoustics==0.2.6
onnxruntime
soundfile
onnxscript
sounddevice
